<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey App</title>
</head>
<body>
  <h1>Survey App</h1>

  <ul>
    <% surveys.forEach(survey => { %>
      <li>
        <h2><%= survey.quiz %></h2>
        <ul>
          <% survey.questions.forEach(question => { %>
            <li>
              <p><%= question.question %></p>
              <ul>
                <% question.options.forEach(option => { %>
                  <li><%= option %></li>
                <% }); %>
              </ul>
            </li>
          <% }); %>
        </ul>
      </li>
    <% }); %>
  </ul>
</body>
</html>
